{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block main %}
<div class="container">
    <div style="text-align: left">
        <h4>Welcome {{row[0]['username'] }},</h4>
        <br />
        <br />
        <br />

    </div>
    <div style="text-align : center">
        <h2>Select Your Constituency</h2>
        <form action="/show" method="post"  >
            <div class="form-group">
                <select required class="form-control form-control1" name="napa" >
                    <option value="">NA/PS</option>
                    <option value="na">NA</option>
                    <option value="pa">PS</option>
                </select>
            </div>
            <div class="form-group">
                <input autocomplete="off" required class="form-control form-control1" name="number" placeholder="NA:236-256,PS:87-130" type="number"/>
            </div>

            <button class="btn btn-primary" type="submit">Show Complaints</button>
        </form>
    </div>
</div>

{% endblock %}
